<div class="widget clearfix">
    <h4>Documentary Categories</h4>
    <ul class="cat-list">
        <li>
            <a href="{{ url('dw.show_category', {'slug': '911' }) }}"
               rel="bookmark" title="Watch 911 Documentaries">911</a>
        </li>
        <li>
            <a href="{{ url('dw.show_category', {'slug': 'art' }) }}"
               rel="bookmark" title="Watch Art and Artists Documentaries">Art and Artists</a>
        </li>
        <li>
            <a href="{{ url('dw.show_category', {'slug': 'biography' }) }}"
               rel="bookmark" title="Watch Biography Documentaries">Biography</a>
        </li>
        <li>
            <a href="{{ url('dw.show_category', {'slug': 'comedy' }) }}"
               rel="bookmark" title="Watch Comedy Documentaries">Comedy</a>
        </li>
        <li>
            <a href="{{ url('dw.show_category', {'slug': 'conspiracy' }) }}"
               rel="bookmark" title="Watch Conspiracy Documentaries">Conspiracy</a>
        </li>
        <li>
            <a href="{{ url('dw.show_category', {'slug': 'drugs' }) }}"
               rel="bookmark" title="Watch Documentaries on Drugs">Drugs</a>
        </li>
        <li>
            <a href="{{ url('dw.show_category', {'slug': 'economics' }) }}"
               rel="bookmark" title="Watch Economics Documentaries">Economics</a>
        </li>
        <li>
            <a href="{{ url('dw.show_category', {'slug': 'environment' }) }}"
               rel="bookmark" title="Watch Environment Documentaries">Environment</a>
        </li>
        <li>
            <a href="{{ url('dw.show_category', {'slug': 'health' }) }}"
               rel="bookmark" title="Watch Health Documentaries">Health</a>
        </li>
        <li>
            <a href="{{ url('dw.show_category', {'slug': 'history' }) }}"
               rel="bookmark" title="Watch History Documentaries">History</a>
        </li>
        <li>
            <a href="{{ url('dw.show_category', {'slug': 'law' }) }}"
               rel="bookmark" title="Watch Law Documentaries">Law</a>
        </li>
        <li>
            <a href="{{ url('dw.show_category', {'slug': 'media' }) }}"
               rel="bookmark" title="Watch Media Documentaries">Media</a>
        </li>
        <li>
            <a href="{{ url('dw.show_category', {'slug': 'military-and-wara' }) }}"
               rel="bookmark" title="Watch Military and War Documentaries">Military and War</a>
        </li>
    </ul>
    <ul class="cat-list">
        <li>
            <a href="{{ url('dw.show_category', {'slug': 'mystery' }) }}"
               rel="bookmark" title="Watch Mystery Documentaries">Mystery</a>
        </li>
        <li>
            <a href="{{ url('dw.show_category', {'slug': 'nature' }) }}"
               rel="bookmark" title="Watch Nature Documentaries">Nature</a>
        </li>
        <li>
            <a href="{{ url('dw.show_category', {'slug': 'performing-arts' }) }}"
               rel="bookmark" title="Watch Performing Arts Documentaries">Performing Arts</a>
        </li>
        <li>
            <a href="{{ url('dw.show_category', {'slug': 'Philosophy' }) }}"
               rel="bookmark" title="Watch Philospohy Documentaries">Philosophy</a>
        </li>
        <li>
            <a href="{{ url('dw.show_category', {'slug': 'politics' }) }}"
               rel="bookmark" title="Watch Politics Documentaries">Politics</a>
        </li>
        <li>
            <a href="{{ url('dw.show_category', {'slug': 'psychology' }) }}"
               rel="bookmark" title="Watch Psychology Documentaries">Psychology</a>
        </li>
        <li>
            <a href="{{ url('dw.show_category', {'slug': 'religion' }) }}"
               rel="bookmark" title="Watch Religion Documentaries">Religion</a>
        </li>
        <li>
            <a href="{{ url('dw.show_category', {'slug': 'science' }) }}"
               rel="bookmark" title="Watch Science Documentaries">Science</a>
        </li>
        <li>
            <a href="{{ url('dw.show_category', {'slug': 'sexuality' }) }}"
               rel="bookmark" title="Watch Sexuality Documentaries">Sexuality</a>
        </li>
        <li>
            <a href="{{ url('dw.show_category', {'slug': 'society' }) }}"
               rel="bookmark" title="Watch Society Documentaries">Society</a>
        </li>
        <li>
            <a href="{{ url('dw.show_category', {'slug': 'sports' }) }}"
               rel="bookmark" title="Watch Sports Documentaries">Sports</a>
        </li>
        <li>
            <a href="{{ url('dw.show_category', {'slug': 'technology' }) }}"
               rel="bookmark" title="Watch Technology Documentaries">Technology</a>
        </li>
    </ul>
</div>